{% extends "global/pages/base.html" %}

{% load static %}

{% block conteudo %}
  <div class="conteudo fundo-branco">
    <header class="cabecalho">
      <h1><strong>Notificações</strong></h1>
      <div class="barra"></div>
    </header>
    <div class="container">
      <a class="close pull-left no mb-3" href="{% url 'notificacoes:marcar_todas_notificacoes_lidas' %}">
         Marcar todas as notificações como lidas
      </a>
      <table class="table">
        <thead>
          <tr>
            <th><div class="flex items-center justify-center gap-2"><strong>Equipamentos</strong> <span class="nao_lido_not">{{ notificacoes_equips.count }}</span></div>
              </th>
            <th><div class="flex items-center justify-center gap-2"><strong>Laboratorios</strong><span class="nao_lido_not">{{ notificacoes_labs.count }}</span></div>
              </th>
            <th><div class="flex items-center justify-center gap-2"><strong>Categorias</strong><span class="nao_lido_not">{{ notificacoes_tags.count }}</span></div>
              </th>
          </tr>
        </thead>
        {% if notificacoes_equips or notificacoes_labs or notificacoes_tags %}
        <tbody>
          <tr>
            <td>
              {% if notificacoes_equips %}
              <div  class="flex items-center justify-center text-align"><a class="close marcar_lidos no" href="{% url 'notificacoes:marcar_notificacoes_lidas_equips' %}">
                Marcar notificações dos equipamentos como lidas
              </a></div>
              {% endif %}
            </td>
            <td>
              {% if notificacoes_labs %}
              <div  class="flex items-center justify-center text-align"><a class="close marcar_lidos no" href="{% url 'notificacoes:marcar_notificacoes_lidas_labs' %}">
              Marcar notificações dos laboratórios como lidas
              </a>
              </div>
              {% endif %}
            </td>
            <td>
              {% if notificacoes_tags %}
              <div class="flex items-center justify-center text-align"><a class="close marcar_lidos no" href="{% url 'notificacoes:marcar_notificacoes_lidas_tags' %}">
              Marcar notificações dos categorias como lidas
            </a></div>
            {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              {% for notice in notificacoes_equips %}
                {% include 'notificacoes/pages/notificacoes_list.html' %}
              {% endfor %}
            </td>
            <td>
              {% for notice in notificacoes_labs %}
                {% include 'notificacoes/pages/notificacoes_list.html' %}
              {% endfor %}
            </td>
            <td>
              {% for notice in notificacoes_tags %}
                {% include 'notificacoes/pages/notificacoes_list.html' %}
              {% endfor %}
            </td>
          </tr>
        </tbody>
        {% endif %}
      </table>
      <div class="espacamento-fantasma"></div>
    </div>

  

  </div>


{% endblock conteudo %}
