{% extends "global/pages/base.html" %}

{% load static %}

{% block conteudo %}
  <div class="conteudo fundo-branco">
    <header class="cabecalho">
      <h1><strong>Notificações</strong></h1>
      <div class="barra"></div>
    </header>
    <div class="container">
      <section class="card p-4">
        <h2><strong>Categorias das notificações</strong></h2>
        <ul class="tags-checkbox-list">
            <li>
                <a class="categs {% if 'equipamentos' == categoria %}highlight{% endif %}" href="{% url 'notificacoes:categoria_notif' 'equipamentos' %}">
                    <span class="font-bold">equipamentos</span>
                </a>
            </li>
            <li>
              <a class="categs {% if 'laboratorios' == categoria %}highlight{% endif %}" href="{% url 'notificacoes:categoria_notif' 'laboratorios' %}">
                  <span class="font-bold">laboratorios</span>
              </a>
            </li>
            <li>
              <a class="categs {% if 'tags' == categoria %}highlight{% endif %}" href="{% url 'notificacoes:categoria_notif' 'tags' %}">
                  <span class="font-bold">tags</span>
              </a>
            </li>
            <li>
              <a class="categs {% if 'chaves_reservs' == categoria %}highlight{% endif %}" href="{% url 'notificacoes:categoria_notif' 'chaves_reservs' %}">
                  <span class="font-bold">laboratorios reservados</span>
              </a>
          </li>
          <li>
            <a class="categs {% if 'denuncias' == categoria %}highlight{% endif %}" href="{% url 'notificacoes:categoria_notif' 'denuncias' %}">
                <span class="font-bold">denúncias</span>
            </a>
          </li>
        </ul>
    </section>
      <table class="table">
        <thead>
          <tr>
            {% if categoria %}
            <th><div class="flex items-center justify-center gap-2"><strong>{{categoria}}</strong> <span class="nao_lido_not">{{ notificacoes.count }}</span></div>
              </th>
            {% else %}
            <th><div class="flex items-center justify-center gap-2"><strong>Total</strong> <span class="nao_lido_not">{{ notificacoes.count }}</span></div>
            </th>
            {% endif %}
          </tr>
        </thead>
        {% if notificacoes %}
        <tbody>
          <tr>
            <td>
              <div  class="flex items-center justify-center text-align">
                {% if categoria %}
                <a class="close marcar_lidos no" href="{% url 'notificacoes:marcar_notificacoes_lidas' categoria %}">
                  Marcar notificações dos {{categoria}} como lidas
                </a>
                {% else %}
                <a class="close marcar_lidos no" href="{% url 'notificacoes:marcar_todas_notificacoes_lidas' %}">
                  Marcar todas as notificações como lidas
                </a>
                {% endif %}
              </div>
            </td>
            
          </tr>
          <tr>
            <td>
              {% for notice in notificacoes %}
                {% include 'notificacoes/pages/notificacoes_list.html' %}
              {% endfor %}
            </td>
          </tr>
        </tbody>
        {% endif %}
      </table>
      <div class="espacamento-fantasma"></div>
    </div>

  

  </div>


{% endblock conteudo %}
