<footer id="footer">
  <div class="flex-container">
    
    
    <div class="flex-item flex-grow-2">
      <h3>Sobre o GL:</h3>
      <h4>Gestão de Laboratórios</h4>
      <p>
        Projeto desenvolvido por estudantes do curso técnico integrado em Informática ingressantes da turma de 2022.
      </p>
      <dl>
        <dt>Desenvolvedores:</dt>
        <dd>Ana Eloíza, Erisson Carlos, José Emanuel, Maria Fernanda e Raíssa Batista.</dd>
      </dl>
      
    </div>

    <div class="flex-item">
      <h3>Informações Técnicas:</h3>
      <dl>
        <dt>Servidor:</dt>
        <dd>.</dd>
        <dt>Código Fonte:</dt>
        <dd><a href="https://github.com/Erisson947/Gestao_de_Equipamentos/tree/main">Disponível no Github</a></dd>
        <dt hidden>Desenvolvimento: </dt>
        <dd><a href="http://www.djangoproject.com/" class="footer-django">Feito com Django</a></dd>
      </dl>
      
    </div>
  </div>
</footer>
