{% load static %}


<a href="#" class="toggleSidebar">
  <span class="fas fa-chevron-left" aria-hidden="true"></span>
  <span class="visually-hidden">Mostrar/Esconder barra lateral</span>
</a>
<aside class="nav">
  <header>
      <h1>
          <a href="/" title="Gestão de Laboratórios">Gestão de Laboratórios</a>
      </h1>
      <div class="notifications">
          <a href="{% url "notificacoes:notificacoes" %}">
              <span class="counter ">{{ notifications_notif }}</span>
              <span class="fas fa-bell" aria-hidden="true"></span>
              <span class="visually-hidden">Notificações</span>
          </a>
      </div>
      <div id="user-tools">
        {% comment %} {% load cache %} {% endcomment %}
        {% comment %} {% cache 500 user.photo2 user.name %} {% endcomment %}
        <a href="{% url "usuarios:perfil" %}" class="user-profile">
          <div class="photo-circle small">
            <img src="{{ user.photo2 }}" alt="Foto de {{ user.name }}">
          </div>
          <span title="Vínculo: {{ user.registration }}">{{ user.name }}</span>
        </a>
        {% comment %} {% endcache %} {% endcomment %}
      </div>
  </header>
  <form id="__buscar_menu__" action="" onsubmit="return false;" class="buscar_menu" role="search">
    <input type="search" placeholder="Buscar menu" id="__filterinput__"/>
</form>
  <nav id="mainmenu">
      <ul class="_main_menu">
          <li class="menu-equipamentos">
              <a href="{% url "equipamentos:equipamentos" %}">
                  <span class="fas fa-gears" aria-hidden="true"></span>
                  <span>Equipamentos</span>
              </a>
          </li>
          <li class="menu-laboratorios">
              <a href="{% url "laboratorios:laboratorios" %}">
                  <span class="fas fa-flask" aria-hidden="true"></span>
                  <span>Laboratórios</span>
              </a>
          </li>
          <li class="menu-categorias">
              <a href="{% url "pegar_chave:chaves" %}">
                  <span class="fas fa-key" aria-hidden="true"></span>
                  <span>Chaves</span>
              </a>
          </li>
          <!-- <li class="menu-inicio">
              <a href="#">
                  <span class="fas fa-home" aria-hidden="true"></span>
                  <span>Agenda de Laboratórios</span>
              </a>
          </li> -->
          <li class="menu-logout">
            <a id="btnSair" title="Sair" href="#">
              <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
              <span>Sair</span>
            </a>
           
            
        </li>
    </ul>
    
    <form id="form-sair" method="post" action="{% url 'usuarios:logout' %}" hidden>
      {% csrf_token %}
      
    </form>
{% if not user.is_authenticated %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    $("#form-sair").submit(function(event) {
      event.preventDefault();
      window.location.href="https://suap.ifrn.edu.br/accounts/logout/";
      this.submit();
    });
  </script>
{% endif %}
</nav>
</aside>
