{% for tag in tags %}
<tr id="tag-{{ tag.slug }}" class="movie-row">
  <td>
    <a class="dropzone-cover-link tags_link truncate" href="" hx-get="{% url 'tags:view_equipamentos_tag' tag.slug %}" hx-target="#dialog">{% if tag.capa %}<img src="{{ tag.capa.url }}" class="w-8 h-8 object-cover rounded-full mr-2" alt="Icone da tag.">{% endif %}<span>{{ tag.nome }}</span></a>
    <div class="flex gap-2">
      {% for key, value in notificacoes.items %}
        {% if key == 'unread_notifications_tags_update' %}
          {% for key, value in value.items %}
            {% if key == tag and value %}
              <div class="sino">
                <span class="nao_lido">
                    {{ value }}
                </span>
                <span class="fa fa-edit" aria-hidden="true"></span>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% for key, value in notificacoes.items %}
        {% if key == 'unread_notifications_tags_add' %}
          {% for notificacao in value %}
              {% if notificacao.action_object == tag %}
              <div class="sino">
                  <span class="fa fa-bell-o no" aria-hidden="true"></span>
              </div>
              {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </td>
  {% if user.link_type == 'Servidor' or user.is_admin %}
  <td class="botoes-lab">
    <span hx-get="{% url 'tags:tag_edit' tag.slug %}" hx-target="#dialog"> <i class="fa fa-edit link span-is-link"></i></span>
    <span type="button" hx-get="{% url 'tags:tag_delete' tag.slug %}" hx-target="#dialog"><i class="fa fa-trash no span-is-link pl-2"></i></span>
  </td>
  {% endif %}
</tr>
{% endfor %}
