{% extends "global/pages/base.html" %}

{% load static %}

{% block conteudo %}

<div class="title-container">
  <h2>{{ user.full_name }} ({{ user.registration }})</h2>
  <div class="object-status"></div>
  <div class="action-bar-container"></div>
  </div>
  <div class="box ">
    <h3>Dados gerais</h3>
    <div>
      
        <div class="photo-circle big">
          {% comment %} {% load cache %} {% endcomment %}
        {% comment %} {% cache 500 user.photo1 %} {% endcomment %}
            <img src="{{ user.photo1 }}" alt="Foto de {{ user.full_name }}">
            {% comment %} {% endcache %} {% endcomment %}
          </div>
        <dl class="definition-list flex">
            <div class="list-item flex-basis-50">
                <dt>Nome</dt>
                <dd>{{ user.full_name }}</dd>
            </div>
            <div class="list-item flex-basis-50">
                <dt>Matrícula</dt>
                <dd>{{ user.registration }}</dd>
            </div>
            <div class="list-item flex-basis-50">
                <dt>E-mail pessoal</dt>
                <dd>{{ user.personal_email }}</dd>
            </div>
            <div class="list-item flex-basis-50">
                <dt>E-mail Acadêmico</dt>
                <dd>{{ user.academic_email }}</dd>
            </div>
            <div class="list-item flex-basis-50">
                <dt>E-mail Escolar/Google Sala de Aula</dt>
                <dd>
                    {{ user.school_email }}
                    
                </dd>
            </div>
            <div class="list-item flex-basis-50">
                <dt>CPF</dt>
                <dd>{{ user.cpf }}</dd>
            </div>
            <div class="list-item">
                <dt>Data de Nascimento</dt>
                <dd>{{ user.date_of_birth }}</dd>
            </div>
            <div class="list-item">
                <dt>Vínculo</dt>
                <dd>{{ user.link_type }}</dd>
            </div>
            <div class="list-item flex-basis-50">
                <dt>Curso</dt>
                <dd> 
    {{ user.course }} - Campus {{ user.campus }}
    </dd>
            </div>
            
            <div class="list-item flex-basis-50">
                <dt>Sexo</dt>
                <dd>{% if user.sex == M %}Masculino{% else %}Feminino{% endif %}</dd>
            </div>
            
        </dl>
    </div>
</div>



{% endblock conteudo %}