{% for laboratorio in laboratorios %}
<div class="general-box">
  <div class="primary-info">
      <h4 class="title">{{ laboratorio.nome }}</h4>
      <ul class="action-bar">
        <li>
            <a href="{% url "laboratorios:edit_laboratorio" laboratorio.slug %}" class="btn primary">
                <span class="fas fa-edit" aria-hidden="true"></span>
                Editar
            </a>
        </li>
          <li>
              <a href="{% url "laboratorios:visualizar_laboratorio" laboratorio.slug %}" class="btn default">
                  <span class="fas fa-eye" aria-hidden="true"></span>
                  Visualizar
              </a>
          </li>
      </ul>
      <div class="extra-info">
          <p>{{ laboratorio.descricao|truncatechars:100 }}</p>
      </div>
  </div>
  <dl class="secondary-info">
      <div class="list-item">
          <dt>
              <span class="fas fa-user" aria-hidden="true"></span>
              Coordenador:
          </dt>
          <dd>{{ laboratorio.coordenador }}</dd>
      </div>
      <div class="list-item">
          <dt>
              <span class="fas fa-phone" aria-hidden="true"></span>
              Contato:
          </dt>
          <dd>{{ laboratorio.contato }}</dd>
      </div>
  </dl>
</div>
{% endfor %}