{% extends "global/pages/base.html" %}

{% load static %}

{% block conteudo %}

<div class="title-container">
  <h2>{% if laboratorio %}Editar{% else %}Adicionar{% endif %} Laboratório</h2>
  <div class="object-status"></div>
  <div class="action-bar-container"></div>
</div>
<ul class="action-bar"></ul>
{% if form.errors %}
          {% for error in form.non_field_errors %}
            <p class="erro-formulario">{{ error }}</p>
          {% endfor %}
        {% endif %}
<form action="" name="laboratorio_form" id="laboratorio_form" class="" method="POST">
  {% csrf_token %}
  <fieldset class="module aligned ">
    {% for campo in form %}
      <div class="form-row {{campo.name}}">
          <div class="field-box-first required">
              <label for="{{ campo.id_for_label }}">{{campo.label}}</label>
              {{ campo }}
          </div>
      </div>
    {% endfor %}
      
  </fieldset>
  <div class="submit-row">
      <input type="submit" name="laboratorio_form" class="btn success" value="Salvar"/>
  </div>
</form>


{% endblock conteudo %}
