{% extends "global/pages/base.html" %}

{% load static %}

{% block conteudo %}

<div class="title-container">
  <h2>{% if professor %}Editar{% else %}Adicionar{% endif %} Laboratório</h2>
  <div class="object-status"></div>
  <div class="action-bar-container"></div>
</div>
<ul class="action-bar"></ul>
<form action="" name="professor_form" id="professor_form" class="" method="POST">
  {% csrf_token %}
  <fieldset class="module aligned ">
    {% for campo in form %}
      <div class="form-row {{campo.nome}}">
          <div class="field-box-first required">
              <label for="{{ campo.id_for_label }}">{{campo.label}}</label>
              {{ campo }}
          </div>
      </div>
    {% endfor %}
      
  </fieldset>
  <div class="submit-row">
      <input type="submit" name="professor_form" class="btn success" value="Salvar"/>
  </div>
</form>


{% endblock conteudo %}