{% extends "global/pages/base.html" %}

{% load static %}

{% block conteudo %}

<div class="title-container">
    <h2>{{ laboratorio.nome }}</h2>
    <div class="object-status"></div>
    <div class="action-bar-container">
        <ul class="action-bar">
            <li>
                <a class="btn primary" href="{% url "laboratorios:editar_laboratorio" laboratorio.slug %}">Editar</a>
            </li>
        </ul>
    </div>
</div>
<div class="box ">
    <h3>Dados Gerais</h3>
    <div>
        <table class="info">
            <tr>
                <td>Nome:</td>
                <td colspan="3">{{ laboratorio.nome }}</td>
            </tr>
            <tr>
                <td>Coordenador:</td>
                <td>
                    <div class="popup-user">
                        <a href="" class="popup-user-trigger" data-user-id="{{ laboratorio.coordenador.id }}">{{ laboratorio.coordenador }}</a>
                    </div>
                </td>
                <td>Local:</td>
                <td>{{ laboratorio.local }}</td>
            </tr>
            <tr>
                <td>Descrição:</td>
                <td colspan="3">{{ laboratorio.descricao }}</td>
            </tr>
            <tr>
                <td>Campus:</td>
                <td>{{ laboratorio.campus }}</td>
                <td>Área de Pesquisa:</td>
                <td>{{ laboratorio.area_pesq }}</td>
            </tr>
            <tr>
                <td>Contato:</td>
                <td>{{ laboratorio.contato }}</td>
                <td>Horário de Funcionamento:</td>
                <td>{{ laboratorio.horario_func }}</td>
            </tr>
            <tr>
                <td>Serviços Realizados:</td>
                <td colspan="3">{{ laboratorio.serv_real }}</td>
            </tr>
        </table>
    </div>
</div>
<ul></ul>
<div class="tab-container" data-title="Pesquisadores" data-tab="pesquisadores" data-counter="{{laboratorio.professores.all|length}}">
    <ul class="action-bar">
        <li>
            <a class="btn success" href="{% url 'laboratorios:adicionar_professor' laboratorio.slug %}">Adicionar Professor</a>
        </li>
    </ul>
    {% if laboratorio.professores.all %}
    <table>
        <thead>
            <tr>
                <th>Pesquisador/Professor</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in laboratorio.professores.all %}
            <tr>
                <td>{{professor.nome}} ({{professor.nome.registration}})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="msg alert">Nenhum pesquisador cadastrado.</p>
    {% endif %}
</div>
<div class="tab-container" data-title="Projetos" data-tab="projetos" data-counter="{{laboratorio.projetos.all|length}}">
    <ul class="action-bar">
        <li>
            <a class="btn success" href="{% url 'laboratorios:adicionar_projeto' laboratorio.slug %}">Adicionar Projeto</a>
        </li>
    </ul>
    {% if laboratorio.projetos.all %}
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Tipo</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for projeto in laboratorio.projetos.all %}
            <tr>
                <td>{{projeto.titulo}}</td>
                <td>{{projeto.tipo}}</td>
                <td>{{projeto.situacao}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="msg alert">Nenhum projeto cadastrado.</p>
    {% endif %}
</div>
<div class="tab-container" data-title="Serviços" data-tab="servicos" data-counter="{{laboratorio.serviços.all|length}}">
    <ul class="action-bar">
        <li>
            <a class="btn success" href="{% url 'laboratorios:adicionar_servico' laboratorio.slug %}">Adicionar Serviço</a>
        </li>
    </ul>
    {% if laboratorio.serviços.all %}
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Materiais</th>
                <th>Equipamentos</th>
                <th>Ativo</th>
            </tr>
        </thead>
        <tbody>
            {% for serviço in laboratorio.serviços.all %}
            <tr>
                <td>{{serviço.descrição}}</td>
                <td>{% for material in serviço.materiais %}
                    {{material}}
                    {% endfor %}
                </td>
                <td>{% for equipamento in serviço.equipamentos %}
                    {{equipamento}}
                    {% endfor %}
                </td>
                <td><span class="status status-{% if serviço.ativo == True %}success{% else %}error{% endif %}">
                    {% if serviço.ativo == True %}Sim{% else %}Não{% endif %}
                </span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="msg alert">Nenhum serviço cadastrado.</p>
    {% endif %}
</div>
<div class="tab-container" data-title="Equipamentos" data-tab="equipamentos" data-counter="{{laboratorio.equipamentos.all|length}}">
    <ul class="action-bar">
        <li>
            <a class="btn success" href="{% url 'laboratorios:adicionar_equipamento' laboratorio.slug %}">Adicionar equipamento</a>
        </li>
    </ul>
    {% if laboratorio.equipamentos.all %}
    <table>
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Patrimônio</th>
                <th>Apresenta Problemas?</th>
                <th>Problemas</th>
            </tr>
        </thead>
        <tbody>
            <ul class="pagination">
                <li class="disabled">Total de {{laboratorio.equipamentos.all|length}} itens
                </li>
            </ul>
            {% for equipamento in laboratorio.equipamentos.all %}
            <tr>
                <td><a class="image"
                    href="{{equipamento.imagem.url}}">
                    <img src="{{equipamento.imagem.url}}"
                        alt="{{equipamento.nome}}">
                </a></td>
                <td>{{equipamento.nome}}</td>
                <td>{{equipamento.descrição}}</td>
                <td>{{equipamento.patrimônio}}</td>
                <td><span class="status status-{% if equipamento.com_problemas == True %}success{% else %}error{% endif %}">
                    {% if equipamento.com_problemas == True %}Sim{% else %}Não{% endif %}
                </span></td>
                <td>{{equipamento.problemas}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="msg alert">Nenhum equipamento cadastrado.</p>
    {% endif %}
</div>
<div class="tab-container" data-title="Materiais" data-tab="materiais" data-counter="{{laboratorio.materiais.all|length}}">
    <ul class="action-bar">
        <li>
            <a class="btn success" href="{% url 'laboratorios:adicionar_material' laboratorio.slug %}">Adicionar Material</a>
        </li>
    </ul>
    {% if laboratorio.materiais.all %}
    <table>
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
            </tr>
        </thead>
        <tbody>
            <ul class="pagination">
                <li class="disabled">Total de 3 itens
                </li>
            </ul>
            {% for equipamento in laboratorio.equipamentos.all %}
            <tr>
                <td><a class="image"
                    href="{{material.imagem.url}}">
                    <img src="{{material.imagem.url}}"
                        alt="{{material.nome}}">
                </a></td>
                <td>{{material.descrição}}</td>
                <td>{{material.quantidade}} {{material.tipo_quant}}</td>
                <td>R$ {{material.valor_unit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="msg alert">Nenhum material cadastrado.</p>
    {% endif %}
</div>
<div class="tab-container" data-title="Fotos" data-tab="fotos" data-counter="{{laboratorio.fotos.all|length}}">
    <ul class="action-bar">
        <li>
            <a class="btn success" href="{% url 'laboratorios:adicionar_foto' laboratorio.slug %}">Adicionar Fotos</a>
        </li>
    </ul>
    {% if laboratorio.fotos.all %}
    <div class="box ">
        <h3>Fotos</h3>
        <div>
            <ul class="flex-container gallery">
                {% for foto in laboratorio.fotos.all %}
                <li class="gallery-item">
                    <h4 class="title">{{foto.titulo}}</h4>
                    <a class="image"
                        href="{{foto.imagem.url}}">
                        <img src="{{foto.imagem.url}}"
                            alt="{{foto.titulo}}">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <p class="msg alert">Nenhuma foto cadastrada.</p>
    {% endif %}
</div>
<div class="tab-container" data-title="Horários de aula" data-tab="aula_laboratorio" data-counter="{{laboratorio.horarios.all|length}}">
    <ul class="action-bar">
        <li>
            <a class="btn success" href="{% url 'laboratorios:adicionar_horario' laboratorio.slug %}">Adicionar aula</a>
        </li>
    </ul>
    <div class="box ">
        <h3>Horários</h3>
        <div>

            <div class="calendario calendario-mensal table-responsive p-0">
                <table>
                    <thead>
                        <tr>
                            <th width="10%" class="text-center">Matutino</th>
                            <th class="text-center" width="10%">Segunda</th>
                            <th class="text-center" width="10%">Terça</th>
                            <th class="text-center" width="10%">Quarta</th>
                            <th class="text-center" width="10%">Quinta</th>
                            <th class="text-center" width="10%">Sexta</th>
                            <th class="text-center" width="10%">Sábado</th>
                            <th class="text-center" width="10%">Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <strong>07:00 - 07:45</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Matutino;1' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>07:45 - 08:30</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Matutino;2' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>08:50 - 09:35</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Matutino;3' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>09:35 - 10:20</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Matutino;4' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>10:30 - 11:15</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Matutino;5' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>11:15 - 12:00</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Matutino;6' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="calendario calendario-mensal table-responsive p-0">
                <table>
                    <thead>
                        <tr>
                            <th width="10%" class="text-center">Vespertino</th>
                            <th class="text-center" width="10%">Segunda</th>
                            <th class="text-center" width="10%">Terça</th>
                            <th class="text-center" width="10%">Quarta</th>
                            <th class="text-center" width="10%">Quinta</th>
                            <th class="text-center" width="10%">Sexta</th>
                            <th class="text-center" width="10%">Sábado</th>
                            <th class="text-center" width="10%">Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <strong>13:00 - 13:45</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Vespertino;1' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>13:45 - 14:30</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Vespertino;2' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>14:50 - 15:35</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Vespertino;3' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>15:35 - 16:20</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Vespertino;4' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>16:30 - 17:15</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Vespertino;5' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>17:15 - 18:00</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Vespertino;6' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="calendario calendario-mensal table-responsive p-0">
                <table>
                    <thead>
                        <tr>
                            <th width="10%" class="text-center">Noturno</th>
                            <th class="text-center" width="10%">Segunda</th>
                            <th class="text-center" width="10%">Terça</th>
                            <th class="text-center" width="10%">Quarta</th>
                            <th class="text-center" width="10%">Quinta</th>
                            <th class="text-center" width="10%">Sexta</th>
                            <th class="text-center" width="10%">Sábado</th>
                            <th class="text-center" width="10%">Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <strong>18:15 - 19:00</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Noturno;1' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>19:00 - 19:45</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Noturno;2' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>19:45 - 20:30</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Noturno;3' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>20:40 - 21:25</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Noturno;4' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">
                                <strong>21:25 - 22:10</strong>
                            </td>
                            {% for HORARIO in HORARIOS %}
                            {% if 'Noturno;5' in HORARIO %}
                            <td>
                                {% for horario in laboratorio.horarios.all %}
                                {% for Horario in horario.horario %}


                                {% if HORARIO in Horario %}

                                <ul>
                                    <li class="info" title="{{horario.disciplina}}">
                                        <dl>
                                            <dt class="visually-hidden">Disciplina</dt>
                                            <dd>
                                                <strong>{{horario.disciplina}}</strong>
                                            </dd>
                                            <dt class="visually-hidden">Professor</dt>
                                            <dd>
                                                {{horario.professor}}
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>

                                {% endif %}

                                {% endfor %}
                                {% endfor %}

                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box ">
        <h3>Diários</h3>
        <div>
            <div class="table-responsive">
                {% if laboratorio.horarios.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Componente</th>
                            <th class="text-center">Horário</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in laboratorio.horarios.all %}
                        <tr>

                            <td>
                                <dl>
                                    <dt class="visually-hidden">Componente:</dt>
                                    <dd>{{horario.disciplina}} </dd>
                                    <dt>Professor:</dt>
                                    <dd>{{horario.professor}}</dd>
                                </dl>
                            </td>

                            <td class="text-center">
                                {% regroup Horarios by id as id_list %}
                                {% for id in id_list %}
                                    {% for item in id.list %}
                                        {% if item.id == horario.id %}
                                            {% if forloop.first %}
                                            {% regroup id.list by dia_sem_turno as dia_sem_turno_list %}
                                                {% for dia_sem_turno in dia_sem_turno_list %}
                                                {{ dia_sem_turno.grouper }}, 
                                                    {% for item in dia_sem_turno.list %}
                                                        {% if item.id == horario.id %}                                
                                                            {{item.horas}}{% if forloop.last %}{% else %}, {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% if forloop.last %}{% else %} / {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="msg alert">Nenhum horário cadastrado.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock conteudo %}